@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.couponlig{
    width: 430px;
    height: 100%;
    background-color: $gray;
    color: white;
    border-radius: 8px;
    margin-top: 12px;
    margin-left: 12px;
    
    .head-couponlig{
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        position: relative;
        height: 30px;
        .lig-name{
            width: 184px;
            height: 25px;
            display: flex;
            margin-left: 12px;
            justify-content: space-between;
            .flag{
                width: 12px;
                height: 12px;
            }

            p{
                font-family: Inter;
                font-weight: 500;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: left;
                font-size: 12px;

            }
        }

        .pin-icon{
            position: absolute;
            top: -1px;
            left: 52%;
            img{
                height: 17px;
                width: 17px;
            }
        }

        .coefficient-sections{
            display: flex;
            max-width: 190px;
            margin-right: 30px;
            margin-left: 36px;
            gap: 40px;
            .part-one{
                width: 12px;
                height: 13px;
                font-family: Inter;
                font-weight: 500;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: left;
                font-size: 12px;

            }

            .icon{
                width: 12px;
                height: 13px;
                font-family: Inter;
                font-weight: 500;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: left;
                font-size: 12px;
            }

            .part-two{
                width: 12px;
                height: 13px;
                font-family: Inter;
                font-weight: 500;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: left;
                font-size: 12px;
            }
        }
    }

    .lig-card{
        width: 428px;
        height: 56px;
        padding: 4px 0px 4px 14px;
        display: flex;
        background-color: $dark-gray;
        border-bottom: 1px solid $light-gray;
        cursor: pointer;
        .time-sec{
            margin-right: 14px;
            display: flex;
            flex-direction: column;
            padding: 8px 0px 4px 14px;
            color: $smoke-white;
            .date{
                width: 39px;
                height: 15px;
                font-family: Inter;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                letter-spacing: 0.003em;
                text-align: center;
            }

            .time{
                width: 32px;
                height: 13px;
                font-family: Inter;
                font-size: 11px;
                font-weight: 500;
                line-height: 13px;
                letter-spacing: 0.003em;
                text-align: center;

            }
        }

        .teams{
            display: flex;
            flex-direction: column;
            min-width: 150px;
            height: 48px;
            padding: 0px 0 6px 0;
            row-gap: 5px;
            .team-first{
                display: flex;
                height: 15px;
               .team-head{
                display:flex;
                img {
                    margin-top: 8px;
                    width: 15px;
                    height: 15px;
                }

                h1{
                    font-family: 'Inter', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    letter-spacing: 0.003em;
                    text-align: left;
                    margin-left: 5px;
                }
               }

               p{
                margin-top: 3px;
                margin-left: auto;
               }
            }
    
            .team-second{
                display: flex;
                height: 15px;
                .team-head{
                 display:flex;
                 img {
                     margin-top: 8px;
                     width: 15px;
                     height: 15px;
                 }
 
                 h1{
                     font-family: 'Inter', sans-serif;
                     font-size: 12px;
                     font-weight: 500;
                     line-height: 15px;
                     letter-spacing: 0.003em;
                     text-align: left;
                     margin-left: 5px;
                 }
                }
 
                p{
                 margin-top: 3px;
                 margin-left: auto;
                }
            }
        }

        .coefficient{
            display: flex;
            float: left;
            max-width: 190px;
            max-height: 21px;
            margin-left: 40px;
            margin-top: 15px;
            color: $smoke-white;
            gap: 8px;
            .count-coefficient{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 39px;
                font-family: Inter;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                letter-spacing: 0.003em;
                border: 1px solid $light-gray;
            }
        }
        
    }

}