@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "../css/mixins";

.addGame {
  font-family: "Inter", sans-serif;
  @extend %section-property;
  .countries {
    @extend %search-country-leauge;
    .sec-one {
      justify-content: center;
      @extend %header-countries-leauge;
    }

    .sec-main {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 154px;
      max-height: fit-content;
      min-height: 184px;
      background-color: $dark-gray;
      @extend %search-input;

      .collapse-sec {
        .country-sec {
          width: 144px;
          height: 24px;
          display: flex;
          align-items: center;
          float: left;
          gap: 25px;
          .country {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            align-items: center;
            .flag {
              width: 15px;
              height: 15px;
            }

            h1 {
              font-size: 12px;
              text-align: left;
              margin-left: 5px;
              margin-bottom: 10px;
            }
          }

          .icon {
            margin-left: auto;
            margin-right: 8px;
            i {
              width: 6px;
              height: 4px;
              opacity: 60%;
            }
          }
        }

        ul {
          width: 144px;
          height: 24px;
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            width: 144px;
            display: flex;
            float: left;
            align-items: center;
            .ligs {
              display: flex;
              justify-content: space-between;
              overflow: hidden;
              align-items: center;
              .lig-icon {
                width: 15px;
                height: 15px;
                border-radius: 20px;
                background-color: white !important;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  width: 7px;
                  height: 10px;
                }
              }

              h1 {
                font-size: 10px;
                text-align: left;
                margin-left: 5px;
                margin-bottom: 10px;
              }
            }
          }

          &.collapsed {
            display: none;
          }
        }
      }
    }

    .sec-footer {
      @extend %footer-countries-leauge;
    }
  }

  .couponlig {
    width: 100% !important;
    height: 100%;
    background-color: $gray;
    color: white;
    border-radius: 8px;
    margin-top: 12px;
    margin-left: 23px;

    .head-couponlig {
      display: flex;
      justify-content: space-between;
      padding-top: 8px;
      height: 30px;
      width: 100%;
      .lig-name {
        width: 100%;
        height: 25px;
        display: flex;
        margin-left: 12px;
        gap: 5px;
        .flag {
          width: 12px;
          height: 12px;
        }

        p {
          width: 180px;
          font-family: Inter;
          font-weight: 500;
          line-height: 13px;
          letter-spacing: 0em;
          text-align: left;
          font-size: 12px;
        }
      }

      .pin-icon {
        padding-bottom: 12px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 5px;
        img {
          height: 17px;
          width: 17px;
        }
      }
    }

    .lig-card {
      width: 100%;
      height: 56px;
      padding: 4px 0px 4px 4px;
      display: flex;
      background-color: $dark-gray;
      border-bottom: 1px solid $light-gray;
      cursor: pointer;
      .time-sec {
        margin-right: 14px;
        display: flex;
        flex-direction: column;
        padding: 8px 0px 4px 14px;
        color: $smoke-white;
        .date {
          width: 39px;
          height: 15px;
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0.003em;
          text-align: center;
        }

        .time {
          width: 32px;
          height: 13px;
          font-family: Inter;
          font-size: 11px;
          font-weight: 500;
          line-height: 13px;
          letter-spacing: 0.003em;
          text-align: center;
        }
      }

      .teams {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 48px;
        padding: 0px 0 6px 0;
        row-gap: 5px;
        .team-first {
          display: flex;
          height: 15px;
          .team-head {
            display: flex;
            img {
              margin-top: 8px;
              width: 15px;
              height: 15px;
            }

            h1 {
              font-family: "Inter", sans-serif;
              font-size: 12px;
              font-weight: 500;
              line-height: 15px;
              letter-spacing: 0.003em;
              text-align: left;
              margin-left: 5px;
            }
          }

          p {
            margin-top: 3px;
            margin-left: auto;
          }
        }

        .team-second {
          display: flex;
          height: 15px;
          .team-head {
            display: flex;
            img {
              margin-top: 8px;
              width: 15px;
              height: 15px;
            }

            h1 {
              font-family: "Inter", sans-serif;
              font-size: 12px;
              font-weight: 500;
              line-height: 15px;
              letter-spacing: 0.003em;
              text-align: left;
              margin-left: 5px;
            }
          }

          p {
            margin-top: 3px;
            margin-left: auto;
          }
        }
      }

      .coefficient {
        display: flex;
        float: left;
        width: 100%;
        max-height: 21px;
        margin-left: 35px;
        margin-right: 10px;
        margin-top: 15px;
        color: $smoke-white;
        gap: 8px;
        .count-coefficient {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0.003em;
          border: 1px solid $light-gray;
        }
      }
    }
  }

  .odds-section {
    color: white;
    margin-top: 12px;
    margin-left: 23px;
    gap: 35px;
    .odds {
      margin-bottom: 20px;
      .head-couponlig {
        display: flex;
        align-items: center;
        padding-top: 8px;
        background-color: $gray;
        height: 30px;
        width: 100%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        .lig-name {
          width: 100%;
          height: 25px;
          display: flex;
          margin-left: 12px;
          gap: 5px;
          .flag {
            width: 12px;
            height: 12px;
          }

          p {
            width: 180px;
            font-family: Inter;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0em;
            text-align: left;
            font-size: 12px;
          }
        }

        .coefficient-sections {
          display: flex;
          width: 100%;
          .part-one {
            width: 100%;
            height: 13px;
            font-family: Inter;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0em;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .icon {
            width: 100%;
            height: 13px;
            font-family: Inter;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0em;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .part-two {
            width: 100%;
            height: 13px;
            font-family: Inter;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0em;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .lig-card {
        width: 100%;
        height: 56px;
        padding: 4px 0px 4px 4px;
        display: flex;
        background-color: $dark-gray;
        cursor: pointer;
        .time-sec {
          margin-right: 14px;
          display: flex;
          flex-direction: column;
          padding: 8px 0px 4px 14px;
          color: $smoke-white;
          .date {
            width: 39px;
            height: 15px;
            font-family: Inter;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0.003em;
            text-align: center;
          }

          .time {
            width: 32px;
            height: 13px;
            font-family: Inter;
            font-size: 11px;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0.003em;
            text-align: center;
          }
        }

        .teams {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 48px;
          padding: 0px 0 6px 0;
          row-gap: 5px;
          .team-first {
            display: flex;
            height: 15px;
            .team-head {
              display: flex;
              img {
                margin-top: 8px;
                width: 15px;
                height: 15px;
              }

              h1 {
                font-family: "Inter", sans-serif;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                letter-spacing: 0.003em;
                text-align: left;
                width: 80px;
                margin-left: 5px;
              }
            }
          }

          .team-second {
            display: flex;
            height: 15px;
            .team-head {
              display: flex;
              img {
                margin-top: 8px;
                width: 15px;
                height: 15px;
              }

              h1 {
                font-family: "Inter", sans-serif;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                letter-spacing: 0.003em;
                text-align: left;
                width: 80px;
                margin-left: 5px;
                margin-right: 3px;
              }
            }
          }
        }

        .coefficient {
          display: flex;
          float: left;
          width: 100%;
          max-height: 21px;
          margin-left: 35px;
          margin-right: 10px;
          margin-top: 15px;
          color: $smoke-white;
          gap: 8px;
          .count-coefficient {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0 3px 0 3px;
            font-family: Inter;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0.003em;
            border: 1px solid $light-gray;
          }
        }
      }
    }

    .odds-information-sec {
      display: flex;
      height: fit-content;
      flex-direction: column;
      background-color: $gray;
      border-radius: 8px;
      gap: 16px;

      .odds-information {
        width: 100%;
        height: 32px;
        color: white;
        display: flex;
        padding: 12px 12px 12px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          width: 100%;
          height: 0;
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 13px;
          letter-spacing: 0em;
          text-align: left;
          align-self: center;
        }

        .icon {
          cursor: pointer;
        }
      }
    }

    ul {
      height: 40px;
      list-style: none;
      display: flex;
      float: left;
      gap: 35px;
      color: white;
      padding: 0 5px 0 5px;
      li {
        width: 100%;
        height: 41px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-gray;
        cursor: pointer;
        font-family: "Inter";
        font-size: 12px;
        line-height: 13px;
        font-weight: 500;
        letter-spacing: 0em;
      }

      &.collapsed {
        display: none;
      }
    }
  }

  .couponCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
    padding-left: 20px;

    .league-card {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      .league {
        display: flex;
        flex-direction: column;
        background-color: $gray;
        border-radius: 15px;
        border: 1px solid $light-gray;
        color: $smoke-white;
        .league-header {
          width: 100%;
          height: 35px;
          display: flex;
          align-items: center;
          overflow: hidden;
          padding: 10px;
          .lig-icon {
            height: 18px;
            width: 20px;
            overflow: hidden;
            display: flex;
            align-items: center;
          }

          .lig-name {
            margin-left: 10px;
            flex-direction: column;
            flex: 1;
            text-align: left;
            font-size: 14px;
            line-height: 14.52px;
            font-family: "Inter", sans-serif;
          }
          .close {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Inter", sans-serif;
            background-color: $gray !important;
            color: white;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;
          }
        }

        .league-main {
          background-color: $dark-gray;
          width: 100%;
          height: 90px;
          align-items: center;
          display: flex;
          float: left;
          .teams {
            display: flex;
            flex-direction: column;
            width: 84%;
            height: 90px;
            justify-content: center;
            gap: 10px;
            margin-left: 5px;
            .team-sec {
              display: flex;
              float: left;
              align-items: center;
              padding: 5px 15px 5px 5px;
              gap: 4px;
              .team-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                .team-icon{
                  width: 30px;
                  height: 25px;
                }
              }
              .team-name {
                padding-left: 10px;
                font-family: "Inter", sans-serif;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                letter-spacing: 0.003em;
                text-align: left;
              }
            }
            .line {
              width: 275px;
              background-color: $light-gray;
              height: 1px;
            }
          }

          .left-sec {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            color: #fff;
            .time-sec {
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: "Inter", sans-serif;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 0.003em;
              background-color: $background-color;
              width: 64px;
              height: 90px;
            }
          }
        }

        .league-footer {
          display: flex;
          float: left;
          width: 100%;
          height: 50px;
          display: flex;
          margin-left: 5px;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          .goals {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            padding: 10px 0 15px 5px;
            .goals-status-name{
              font-family: "Inter", sans-serif;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 0.003em;
              text-align: left;
              color: $smoke-white;
            }

            .goals-status{
              font-family: "Inter", sans-serif;
              font-size: 12px;
              line-height: 15px;
              font-weight: 600;
              letter-spacing: 0.003em;
              text-align: left;
              color: #fff;
            }
            
          }
          .odds-sec {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto;
            margin-right: 5px;
            align-items: center;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.003em;
            width: 64px;
            height: 50px;
            color: #fff;
            .odds {
              background-color: $primary-color;
              width: 100%;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .odds-score {
              background-color: $primary-color-light;
              width: 100%;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-bottom-right-radius: 15px;
            }
          }
        }
      }
    }

    .footer-cuponCard {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 9px;
      gap: 16px;
      width: 100%;
      .post {
        background-color: $primary-color;
        width: 92px;
        height: 41px;
        border-radius: 15px;
        border: none;
        color: white;
        cursor: pointer;
      }

      .add-new {
        background-color: $dark-gray;
        width: 92px;
        height: 41px;
        border-radius: 15px;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
  }
}
