.couponCard{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    .league-couponCard{
        display: flex;
        flex-direction: column;
        background-color: $gray;
        border-radius: 8px;
        padding: 10px;
        margin-top: 12px;
        width: 440px;
        height: 240px;
        color: white;
        .league-header{
            width: 440px;
            height: 42px;
            display: flex;
            align-items: center;
            overflow: hidden;
            padding: 10px;
            margin-bottom: 10px;
            .lig-icon{
                height: 18px;
                width: 20px;
                overflow: hidden;
                display: flex;
                align-items: center;
            }
    
            .lig-name{
                margin-left: 10px;
                flex-direction: column;
                flex: 1;
                text-align: left;
                font-size: 14px;
                line-height: 14.52px;
            }

            .close{
                margin-left: auto;
                margin-right: 20px;
                cursor: pointer;
            }
        }
    
        .league-main{
            background-color: $dark-gray;
            width: 440px;
            height: 120px;
            padding: 10px;
            align-self: center;
            margin-bottom: 10px;
            .team{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                .team-icon{
                    background-color: #212328;
                    width: 52px;
                    height: 52px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 5px;
                }
    
                .team-name{
                    font-weight: 500;
                    font-size: 13px;
                }
    
                .time-icon{
                    background-color: $light-gray;
                    width: 32px;
                    height: 29px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 5px;
                    margin-top: 15px;
                    
                    
                }
    
               
                .time{
                    width: 75px;
                    height: 21px;
                    background-color: #333539;
                    border-radius: 5px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    p{
                        font-size: 12px;
                        font-weight: 600;
                        float: left;
                        margin-left: 5px;
                    }
                
                    .timer-icon {
                        width: 5px;
                        height: 13px;
                        background-color: #4f5155;
                        float: left;
                        border-radius: 50px;
                        margin-top: 4px;
                        margin-left: 3px;
                    }
                }
            }
    
            .time-sec{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
    
                
            }
        }
    
        .league-footer{
            display: flex;
            flex-direction: column;
            padding: 0 20px 0 20px;
            color: rgba(255, 255, 255, 0.6);
            .score {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p{
                    font-size: 12px;
                    font-weight: 500;
    
                    &.odd-score{
                        color: $odd-green;
                    }
                }
            }
        }
    }

    .footer-cuponCard{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 9px;
        gap: 16px;
        width: 440px;
        .post{
            background-color: $primary-color;
            width: 92px;
            height: 41px;
            border-radius: 15px;
            border: none;
            color: white;
            cursor: pointer;
        }

        .add-new{
            background-color: $dark-gray;
            width: 92px;
            height: 41px;
            border-radius: 15px;
            border: none;
            color: white;
            cursor: pointer;
        }
    }
}