.coupons {
  width: 100%;
  height: 140vh;
  overflow: scroll;
  overflow-x: hidden;

  .card-coupon {
    background-color: $background-color;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 10px 20px;
    color: white;
    border-left: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    .section-up {
      height: 45px;
      display: flex;
      align-items: center;
      overflow: hidden;

      .user-icon {
        height: 45px;
        width: 45px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
      }

      .user {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: left;
        font-family: "Inter", sans-serif;

        .name {
          font-size: 16px;
          font-weight: 600;
        }

        .user-name {
          font-size: 14px;
          color: rgba(245, 245, 245, 0.582);
        }
      }
    }

    .btn-follow {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Inter", sans-serif;
      width: 75px;
      height: 31px;
      border-radius: 50px;
      border: 1px solid $light-gray;
      background-color: $gray !important;
      color: white;
      font-weight: 500;
      font-size: 14px;
    }
    .centered {
      display: flex;
      width: 100%;
      opacity: 0.7px;
      margin-bottom: 10px;

      p {
        text-align: left;
        margin: 10px 10px;
        font-family: "Inter", sans-serif;
        position: relative;
        font-size: 14px;
        
        .more {
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
          position: absolute;
          left: 93%;
          top: 65%;
          cursor: pointer;
        }
      }
    }

    .league-card {
      .league {
        display: flex;
        margin: 10px 10px;
        flex-direction: column;
        background-color: $gray;
        border-radius: 15px;
        border: 1px solid $light-gray;
        .league-header {
          width: 100%;
          height: 35px;
          display: flex;
          align-items: center;
          overflow: hidden;
          padding: 10px;
          .lig-icon {
            height: 18px;
            width: 20px;
            overflow: hidden;
            display: flex;
            align-items: center;
          }

          .lig-name {
            margin-left: 10px;
            flex-direction: column;
            flex: 1;
            text-align: left;
            font-size: 14px;
            line-height: 14.52px;
            font-family: "Inter", sans-serif;
          }
        }

        .league-main {
          background-color: $dark-gray;
          width: 100%;
          height: 75px;
          align-items: center;
          display: flex;
          float: left;
          .teams {
            display: flex;
            flex-direction: column;
            width: 84%;
            height: 75px;
            justify-content: center;
            gap: 10px;
            margin-left: 5px;
            .team-sec {
              display: flex;
              float: left;
              align-items: center;
              padding: 1px 15px 1px 5px;
              gap: 4px;
              .team-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                .team-icon{
                  width: 30px;
                  height: 25px;
                }
              }
              .team-name {
                padding-left: 10px;
                font-family: "Inter", sans-serif;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                letter-spacing: 0.003em;
                text-align: left;
              }
            }
            .line {
              width: 100%;
              background-color: $light-gray;
              height: 1px;
            }
          }

          .left-sec {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            color: #fff;
            .time-sec {
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: "Inter", sans-serif;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 0.003em;
              background-color: $background-color;
              width: 84px;
              height: 75px;
            }
          }
        }

        .league-footer {
          display: flex;
          float: left;
          width: 100%;
          height: 50px;
          display: flex;
          margin-left: 5px;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          .goals {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            padding: 10px 0 15px 5px;
            .goals-status-name{
              font-family: "Inter", sans-serif;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 0.003em;
              text-align: left;
              color: $smoke-white;
            }

            .goals-status{
              font-family: "Inter", sans-serif;
              font-size: 12px;
              line-height: 15px;
              font-weight: 600;
              letter-spacing: 0.003em;
              text-align: left;
              color: #fff;
            }
            
          }
          .odds-sec {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto;
            margin-right: 5px;
            align-items: center;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.003em;
            width: 84px;
            height: 50px;
            
            .odds {
              background-color: $primary-color;
              width: 100%;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .odds-score {
              background-color: $primary-color-light;
              width: 100%;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-bottom-right-radius: 15px;
            }
          }
        }
      }
      .more-card{
        background-color: $gray;
        width: 100%;
        height: 50px;
        border: 1px solid $light-gray;
        border-radius: 15px;
        display: flex;
        padding: 10px;
        .coefficient{
          display: flex;
          align-items: center;
          float: left;
          width: 250px;
          color: #fff;
          .coefficient-text{
            flex: 1;
            text-align: left;
            font-size: 14px;
            line-height: 14.52px;
            font-family: "Inter", sans-serif;

          }
          .coefficient-score{
            flex: 1;
            text-align: left;
            font-size: 14px;
            line-height: 14.52px;
            font-family: "Inter", sans-serif;
            font-weight: 700;
          }
        }

        .toggle{
          margin-left: auto;
          display: flex;
          float: left;
          align-items: center;
          color: $smoke-white;
          gap: 5px;
          .card-amount{
            flex: 1;
            text-align: left;
            font-size: 14px;
            line-height: 14.52px;
            font-family: "Inter", sans-serif;
          }

          .toggle-btn{
            cursor: pointer;
            .toggle-img{
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }

    .section-down {
      margin: 0 10px 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      height: 74px;

      .icon {
        float: left;
        color: $smoke-white;

        i {
          width: 19px;
          height: 17px;
          cursor: pointer;
        }
        .count {
          margin-left: 5px;
          font-weight: 500;
          font-size: 14px;
          line-height: 16.94;
        }
      }
    }
  }
}

.coupons::-webkit-scrollbar {
  width: 10px;
  height: 25%;
  border-radius: 16px;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
}

.coupons::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border: 1px solid $light-gray;
  border-radius: 16px;
}
