.sidebar {
  width: 100%;
  min-height: 462px;
  .sidebar-navigation {
    width: 100%;
    align-items:flex-start;
    justify-content: flex-start;
    .nav-list {
      color: white;
      display: flex;
      flex-direction: column;
      padding: 0;
      li {
        padding: 0 0 30px 0;
        cursor: pointer;
        transition: all ease-out 120ms;
        display: flex;
        justify-content: flex-start;
        a {
          text-decoration: none;
          color: $smoke-white;
          .nav-content{
            width: 100%;
            display: flex;
            float: left;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            .icon{
              height: 36px;
              width: 36px;
              transition: all ease 450ms;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }

            .nav-item-name {
              color: $smoke-white;
              font-size: 16px;
              margin: 0;
              width: 100%;

              &:hover{
                color: #fff;
                font-weight: 500;
              }
            }
            .plus-div{
              width: 100%;
              padding: 8px 18px 8px 18px;
              border-radius: 50px;
              background-color: $primary-color;
              display: flex;
              align-self: flex-start;
              justify-content: center;
              color: #fff;
            }
          }

        }
      }
    }
  }
}

.hamburger-menu {
  display: none;
  color: $smoke-white;
  margin-bottom: 15px;
}

