.sidebar {
  margin: 0;
  padding: 0;
  .sidebar-navigation {
    float: right;
    min-height: 462px;
    width: 56px;
    background-color: $background-color;
    margin-right: 15px;
    padding-right: 40px;

    ul {
      text-align: center !important;
      color: white;

      li {
        padding: 19px 0;
        cursor: pointer;
        transition: all ease-out 120ms;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
          color: white;
          
          .icon{
            height: 36px;
            width: 36px;
            border-radius: 50px;
            transition: all ease 450ms;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .plus-div {
            height: 36px;
            width: 36px;
            background-color: $primary-color;
            border-radius: 50px;
            transition: all ease 450ms;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .tooltip {
            display: inline-block;
            position: absolute;
            background-color: black;
            padding: 8px 15px;
            border-radius: 15px;
            margin-top: -33px;
            left: 228px;
            opacity: 0;
            visibility: hidden;
            font-size: 13px;
            letter-spacing: 0.5px;
          }
        }

        &:hover {
          .tooltip {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
