.sidebar {
  width: 70px;
  min-height: 462px;
  .sidebar-navigation {
    .nav-list {
      padding-left: 0;
      padding-right: 80px;
      color: white;

      li {
        padding: 19px 0;
        cursor: pointer;
        transition: all ease-out 120ms;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
          color: $smoke-white;

          .nav-content{
            display: flex;
            float: left;
            align-items: center;
            width: 10px;
            gap: 10px;
            .icon{
              height: 36px;
              width: 36px;
              transition: all ease 450ms;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }

            .nav-item-name {
              color: $smoke-white;
              font-size: 16px;
              margin: 0;

              &:hover{
                color: #fff;
                font-weight: 500;
              }
            }
          }

          .plus-div{
            margin-left: 120px;
            width: 160px;
            padding: 8px 18px 8px 18px;
            border-radius: 50px;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
          }
          
        }
      }
    }
  }
}
