.live {
  @extend %section-property;
  gap: 10px;
  font-family: "Inter", sans-serif;
  padding: 5px 16px 16px 8px;
  .live-countries {
    @extend %search-country-leauge;
    .sec-one {
      margin-left: 12px;
      justify-content: flex-start;
      @extend %header-countries-leauge;
    }

    .sec-main {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      max-height: fit-content;
      min-height: 184px;
      background-color: $dark-gray;
      @extend %search-input;

      .countries-sec {
        display: flex;
        justify-content: center;
        ul {
          width: 100%;
          height: 24px;
          list-style: none;
          padding: 0;
          margin: 0 0 0 15px;
          li {
            width: 144px;
            display: flex;
            float: left;
            align-items: center;
            .countries {
              display: flex;
              justify-content: space-between;
              overflow: hidden;
              align-items: center;
              .countries-icon {
                width: 15px;
                height: 15px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  width: 15px;
                  height: 15px;
                }
              }

              h1 {
                font-family: Inter;
                font-size: 11px;
                font-weight: 500;
                line-height: 12px;
                letter-spacing: 0em;
                text-align: left;
                margin-left: 8px;
              }
            }
          }
        }
      }
    }

    .sec-footer {
      @extend %footer-countries-leauge;
    }
  }

  .live-leauges {
    @extend %search-country-leauge;
    .sec-one {
      margin-left: 12px;
      justify-content: flex-start;
      @extend %header-countries-leauge;
    }

    .sec-main {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      max-height: fit-content;
      min-height: 184px;
      background-color: $dark-gray;
      @extend %search-input;

      .leauges-sec {
        display: flex;
        justify-content: center;
        ul {
          width: 144px;
          height: 24px;
          list-style: none;
          padding: 0;
          margin: 0 0 0 15px;
          li {
            width: 144px;
            display: flex;
            float: left;
            align-items: center;
            .leauges {
              display: flex;
              justify-content: space-between;
              overflow: hidden;
              align-items: center;
              .leauges-icon {
                width: 15px;
                height: 15px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  width: 15px;
                  height: 15px;
                }
              }

              h1 {
                font-family: Inter;
                font-size: 11px;
                font-weight: 500;
                line-height: 12px;
                letter-spacing: 0em;
                text-align: left;
                margin-left: 8px;
              }
            }
          }
        }
      }
    }

    .sec-footer {
      @extend %footer-countries-leauge;
    }
  }

  .live-leauges-sec {
    width: 100%;
    height: 100%;
    background-color: $gray;
    color: white;
    border-radius: 8px;
    margin-top: 12px;

    .head-couponlig {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      height: 30px;
      width: 100%;
      .lig-name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .country-name {
          font-family: "Inter", sans-serif;
          font-size: 12px;
          font-weight: 500;
          line-height: 13px;
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 0;
        }
      }

      .toggle {
        img {
          width: 12.76px;
          height: 6.18px;
        }
      }
    }

    .lig-card {
      width: 100%;
      height: 56px;
      padding: 4px;
      display: flex;
      justify-content: space-between;
      background-color: $dark-gray;
      border-bottom: 1px solid $light-gray;
      &.collapsed {
        display: none;
      }

      .time-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 0 12px 0;
        width: 20%;
        .time {
          font-family: "Inter", sans-serif;
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0.003em;
          text-align: center;
          margin-bottom: 0;
          margin-top: 0;
        }

        .time-part {
          font-family: "Inter", sans-serif;
          font-size: 11px;
          font-weight: 500;
          line-height: 12px;
          letter-spacing: 0.003em;
          text-align: center;
          color: $time-part;
          margin-bottom: 0;
        }
      }

      .teams {
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 10px;
        .first-team {
          display: flex;
          float: left;
          align-items: center;
          justify-content: flex-start;
          gap: 50px;

          .team-head {
            display: flex;
            float: left;
            width: 70%;
            img {
              width: 15px;
              height: 15px;
            }
            h1 {
              font-family: "Inter", sans-serif;
              font-size: 12px;
              font-weight: 500;
              line-height: 15px;
              letter-spacing: 0.003em;
              text-align: left;
              margin: 0;
            }
          }

          .count-team-first {
            width: 30%;
            display: flex;
            float: left;
            gap: 10px;
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0.003em;
            text-align: center;

          }
        }

        .second-team {
          display: flex;
          float: left;
          align-items: center;
          justify-content: flex-start;
          gap: 50px;

          .team-head {
            width: 70%;
            display: flex;
            float: left;
            img {
              width: 15px;
              height: 15px;
            }
            h1 {
              font-family: "Inter", sans-serif;
              font-size: 12px;
              font-weight: 500;
              line-height: 15px;
              letter-spacing: 0.003em;
              text-align: left;
              margin: 0;
            }
          }

          .count-team-sec {
            width: 30%;
            display: flex;
            float: left;
            gap: 10px;
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0.003em;
            text-align: center;

          }
        }
      }

      .alarm-icon{
        width: 10%;
      }
    }
  }
}
