@mixin register_icon($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    width: 20px;
    height: 20px;
}

@mixin sections_step1{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@mixin password_step1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px 0 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 241px;
    height: 44px;
    border-radius: 15px;
    border: 1px solid #333539;
    background-color: #212328 !important;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 14px;
    padding-left: 38px;
}

@mixin continue_btn_step1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    width: 241px;
    height: 44px;
    border-radius: 15px;
    border: 1px solid #333539;
    background-color: rgba(62, 128, 253, 1) !important;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 14px;
}

@mixin head_text {
    text-align: center;
    width: 282px;
    font-size: 32px;
    line-height: 33.98px;
    font-weight: 600;
    margin-right: 20px;
    margin-top: 15px !important;
}

@mixin other_option{
    width: 169px;
    text-decoration: none;
    color: white;
    position: relative;
    opacity: 60%;
    margin-left: 40px;
    .arrow{
        position: absolute;
        left: -8%;
    }
}