.popular-users{
    width: 322px;
    height: 274px;
    background-color: $dark-gray;
    border: 1px solid $light-gray;
    display: flex;
    flex-direction: column;
    float: right;
    overflow: hidden;
    margin-right: 8px;
    color: white;
    padding: 16px;
    gap: 16px;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    overflow: scroll;
    overflow-x: hidden;
    .head-text{
        display: flex;
        align-self: flex-start;
        font-weight: 500;
        font-size: 16px;
    }

    .pp-user{
        width: 290px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        padding: 25px 8px;

        &:hover{
            background-color: $hover-color;
            border-radius: 12px;
         }
        .avatar{
            height: 33px;
            width: 33px;
            overflow: hidden;
            display: flex;
            align-items: center;
        }

        .user{
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            flex: 1;
            text-align: left;
            
            .name{
                font-size: 14px;
                font-weight: 600;
                line-height: 14.87px;
            }
            
            .user-name{
                font-weight: 400;
                font-size: 12px;
                color: rgba(245, 245, 245, 0.582);
                line-height: 12.74px;
            }

           
    }
    .btn-follow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 61px;
        height: 25px;
        border-radius: 50px;
        border: 1px solid $light-gray;
        background-color: $gray !important;
        color: white;
        font-weight: 500;
        font-size: 12px;
        line-height: 12.74px;
}
    }
}

.popular-users::-webkit-scrollbar {
    width: 10px;
    height: 20px !important;
    border-radius: 19px;
    border-left: 1px solid #333539;
    border-right: 1px solid #333539;
  }
  
  .popular-users::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border: 1px solid #333539;
    border-radius: 16px;
  }