
// colors
$background-color:rgba(26, 28, 33, 1);
$dark-gray:rgba(33, 35, 40, 1);
$gray:rgba(39, 41, 46, 1);
$primary-color:rgba(62, 128, 253, 1);
$light-gray: rgba(83, 85, 89, 1);
$smoke-white: rgba(255, 255, 255, 0.6);
$odd-green:#51ff4d;
$hover-color: rgba(255, 255, 255, 0.06);
$modal-background: rgb(23, 25, 33);
$btn-color:rgba(255, 255, 255, 0.05);

// fonts
$font-color: rgba(255, 255, 255, 0.15);
$smoke-white:rgba(151, 151, 151, 1);
$time-part:rgb(214, 0, 39);